<script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="/assets/gifplayer-0.3.3/jquery.gifplayer.js"></script>
<script src="/assets/js/cluster-checklist.js" defer></script>
<script src="/assets/js/cluster-expanable.js" defer></script>

{{ partial "google-analytics.html" . }}

<script src="/assets/prism-1.15.0/prism.js" defer></script>

<script async defer>
    $('.gifplayer').gifplayer();
</script>

<div class="text-center mt-5" id="footer">
    <p>
        <span class="hidden-sm-down">
            Kódy skladujeme na <a href="https://github.com/drdplusinfo">GitHubu</a>
        </span>
    </p>
</div>
