<script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="/assets/gifplayer-0.3.3/jquery.gifplayer.js" defer></script>
<script src="/assets/js/cluster-checklist.js?version=53ec840d68a5e8bd245b5f3106ea6f60" defer></script>
<script src="/assets/js/cluster-expanable.js?version=302b679c4bbc0896aed86946b36c9272" defer></script>

{% include "_snippets/google_analytics.twig" %}

<script src="/assets/prism-1.15.0/prism.js" defer></script>

<script async defer>
    $('.gifplayer').gifplayer();
</script>

<div class="text-center mt-5" id="footer">
    <p>
        {% if contributors is defined %}
            Pomohlo nám už <a href="/thank-you/">{{ contributors|length + 1 }} hrdinů</a>
        {% endif %}

        <span class="hidden-sm-down">
            <span class="pl-2 pr-2">•</span>
            Digitální kolečka roztáčí <a href="https://www.statie.org/">Statie</a>

            <span class="pl-2 pr-2">•</span>
            Kódy skladujeme na <a href="https://github.com/drdplusinfo">GitHubu</a>
        </span>
    </p>
</div>
