<div class="container-fluid no-padding-md-down">
    <nav class="navbar">
        <ul>
            <li class="{% if (id is defined and id == 'blog') or post is defined %}active{% endif %}">
                <a href="/">Blog</a>
            </li>
            <li class="{% if id is defined and id == 'kontakt' %}active{% endif %}">
                <a href="/kontakt/">Kontakty</a>
            </li>
            <li>
                <a href="https://www.drdplus.info">
                    <span class="hidden-sm-down">www.drdplus.info</span>
                </a>
            </li>
            <li>
                <a href="/rss.xml"><img src="/assets/images/Rss-feed.svg" alt="RSS feed" class="inline-image"></a>
            </li>
            <li id="top-menu-search" class="hidden-xs-down">
                <form method="get" action="https://www.google.com/search" itemprop="potentialAction" itemscope=""
                      itemtype="http://schema.org/SearchAction">
                    <meta itemprop="target" content="https://www.google.com/search?q={q}"/>
                    <input name="sitesearch" value="blog.draciodkaz.cz" type="hidden"/>
                    <input itemprop="query-input" type="text" id="search-query" class="form-control" required="required"
                           name="q" placeholder="Hledej..." autocomplete="off"/>
                </form>
            </li>
        </ul>
    </nav>
</div>
